.section-1__bullits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    position: relative;
}

@media (max-width: 767px) {
    .section-1__bullits {
        grid-template-columns: 1fr;
    }
}

.bullits__icon {
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullit {
    position: relative;
}

.bullit::after {
    content: "";
    width: 2px;
    height: 138px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    transform: translate(-10px, 13px);
}

@media (max-width: 767px) {
    .bullit::after {
        content: "";
        width: 305px;
        height: 2px;
        left: 0;
        transform: translate(5px,-10px);
    }
}

.bullit:nth-of-type(1)::after {
    display: none;
}

@media (max-width: 767px) {
    .bullits__icon {
        min-height: 50px;
        min-width: 50px;
        margin-right: 20px;
    }    
    .bullit {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
