.section-1__banner {
    height: 521px;
    padding: 50px;
    background-image: url('./../images/e-banner.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (max-width: 989px) {
    .section-1__banner {
        height: 520px;
        padding: 50px 45px;
        background-image: url('./../images/PV/e-banner.png');
    }
}

@media (max-width: 767px) {
    .section-1__banner {
        height: 585px;
        padding: 24px 21px;
        background-image: url('./../images/MV/e-banner.png');
    }
}

.location-pointer-icon {
    margin-right: 6px;
}

.banner__text {
    max-width: 415px;
}

.banner__text_bottom-margin {
    margin-bottom: 115px;
}

@media (max-width: 767px) {
    .banner__text_bottom-margin {
        margin-bottom: 30px;
    }
}
