
.main-color-theme {
    background-color: #f5f5f5;
    color: #182353;
}

.dark-color-theme {
    background-color: #323232;
    color: white;
}

.blue-color-theme {
    background-color: #182353;
    color: white;
}