.layout {
    width: 100vw;
    max-width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.v-align_top {
    justify-self: start;
}

.v-align_center {
    justify-self: center;
}

.v-align_bottom {
    justify-self: end;
}

.mb-banner-1 {
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .mb-banner-1 {
        margin-bottom: 20px;
    }
}

.section {
    max-width: 990px;
}


@media (max-width: 989px) {
    .section {
        max-width: 768px;
    }    
}

@media (max-width: 767px) {
    .section {
        max-width: 310px;
    }    
}
