.section-1__banner {
    height: 521px;
    padding: 50px;
    background-image: url('images/e-banner.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


@media (max-width: 989px) {
    .section-1__banner {
        height: 520px;
        padding: 50px 45px;
        background-image: url('images/PV/e-banner.png');
    }
}

@media (max-width: 767px) {
    .section-1__banner {
        height: 585px;
        padding: 24px 21px;
        background-image: url('images/MV/e-banner.png');
    }
}

.section-1__bullits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    position: relative;
}

@media (max-width: 767px) {
    .section-1__bullits {
        grid-template-columns: 1fr;
    }
}