.section-2 {
    height: 680px;
    background-color: #182353;
}

.pattern-blue {
    min-height: 1069px;
    padding: 50px;
    background-image: url('images/DV/pattern_blue.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
