* {
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.font-s {
    font-size: 16px;
    line-height: 16px;
}

.font-m {
    font-size: 18px;
    line-height: 18px;
}

.font-l {
    font-size: 20px;
    line-height: 20px;
}

.font-xl {
    font-size: 30px;
    line-height: 30px;
}

.font-xxl {
    font-size: 45px;
    line-height: 45px;
}

@media (max-width: 767px) {
    .font-s {
        font-size: 13px;
        line-height: 13px;
    }
    .font-m {
        font-size: 13px;
        line-height: 13px;
    }
    .font-l {
        font-size: 15px;
        line-height: 15px;
    }
    .font-xl {
        font-size: 18px;
        line-height: 18px;
    }     
    .font-xxl {
        font-size: 25px;
        line-height: 25px;
    }
}

.font-bold {
    font-weight: bold;
}

.font-oblique {
    font-style: oblique;
}

.font-small-caps {
    font-variant: small-caps;
}

.font-uppercase {
    text-transform: uppercase;
}

.text-center-dv-pv {
    text-align: center;
}

@media (max-width: 767px) {
    .text-center-dv-pv {
        text-align: left;
    }
}